
.series-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: start; 
  margin-bottom: 20px; 
  margin-top: 20px;
}
.search-title {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px; 
}


.card {
  background: rgb(120, 116, 116);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  h3 {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
  }

  .description {
    font-size: 14px;
    color: #4c07fa;
    text-align: center;
  }

  .btn {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  padding: 10px 0; 

  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #2980b9;
    }
  }

  span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  /* Búsqueda */
  .search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px; 
    
    margin-left: auto;
    margin-right: auto;
  }
  
  
}